<template>
    <div>
        <div class="" v-for="video in videos">

            <div class="card component-card_2">
                <img :src="storage/video.sp_s_image_file" class="card-img-top" alt="widget-card-2">
                <div class="card-body">
                    <h5 class="card-title">{{ video.sp_s_title }}</h5>
                    <p class="card-text">{{ video.sp_s_info }}</p>
                    <a href="#" class="btn btn-primary">{{ video.sp_s_rate }} {{ video.sp_a_currency }}</a>
                </div>
            </div>

        </div>


        <div v-if="error" class="error">
            <p>{{ error }}</p>

            <p>
                <button @click.prevent="fetch">
                    Try Again
                </button>
            </p>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                videos: [],
                endpoint: 'api/video/listAll',
                video : {
                    sp_s_image_file: null,
                    sp_s_title: null,
                    sp_s_info: null,
                    sp_s_rate: null,
                    sp_a_currency: null,
                }
            };
        },


        created() {
            this.fetch();
        },
        mounted(){
            alert(0);
            console.log(this.$el);
            this.fetch();
        },
        methods: {
            fetch() {
                this.error = this.users = null;
                axios
                    .get(this.endpoint)
                    .then(response => {
                        console.log(response);
                        this.videos = data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            }
        },
        props: {
            route: { type: String, required: true },
            csrf: { type: String, require: true }
        }
    }
</script>
